.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../images/Background.png") no-repeat center;
}
.login__textBox {
  border:none;
  border-bottom: 2px solid whitet;
  padding: 5px 10px;
  outline: none;
  font-size: 27px;
}
.login__btn {
  padding: 10px;
  font-size: 23px;
  margin-bottom: 10px;
  border: none;
  background-color: yellow;
  border-radius: 64px;
  width: 247px;
  margin-top: 112px;
  height: 48px;
}

.login__inputContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: transparent;
}

.login div {
  margin-top: 7px;
}

.login__text {
  font-size: 28px;
}

.login__testing {
  color: white;
}

::placeholder {
  color: white;
}
